<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NewOptics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceClinique" closeTimeout="00:10:10"
                    openTimeout="00:10:10" receiveTimeout="23:00:00" sendTimeout="23:00:00"
                    transactionFlow="true" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864">
                    <reliableSession inactivityTimeout="23:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7977/NewOpticsServer/tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceClinique"
                contract="SVC.IServiceClinique" name="NetTcpBinding_IServiceClinique" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <NewOptics.Properties.Settings>
            <setting name="LogicielName" serializeAs="String">
                <value>NewOptics</value>
            </setting>
        </NewOptics.Properties.Settings>
    </applicationSettings>
</configuration>
